*{
	padding: 0;
	margin: 0;
	
}


body {
	padding: 0;
	margin: 0;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #fff;
}

#tooplate_wrapper {
	width: 960px;
	padding: 0 10px;
	margin: 0 auto;
	background: url(../images/tooplate_body.jpg) top center no-repeat;
}

p { margin: 0 0 10px 0; padding: 0; }
.cleaner { clear: both }
.float_l { float: left }
.float_r { float: right }










#tooplate_menu ul li {
	padding: 0;
	margin: 0;
	display: inline;
}

#tooplate_menu ul li a {
	float: left;
	display: block;
	width: 120px;
	height: 30px;
	padding-top: 8px;
	font-size: 13px;
	color: #666;	
	/* text-shadow: 1px 1px 1px #fff; */;
	text-align: center;
	text-decoration: none;
	font-weight: 700;
	outline: none;
	border: none;
	background: url(../images/tooplate_menu_divider.png) bottom right no-repeat;
}



/* end of menu */

#tooplate_middle { 
	clear: both;
	width: 840px;
	height: 134px;
	padding: 50px 60px;
	font-size: 28px;
	font-weight: normal;
	color: #C69;
	line-height: 40px;
	text-align: center;
}

#tooplate_middle a { 
	color: #68992a; 
	text-decoration: none; 
	font-size: 22px; 
}

#tooplate_middle a:hover { 
	color: #68992a; 
	text-decoration: underline; 
}

#tooplate_main {
	clear: both;
	width: 960px;
	padding: 20px 0 0;
}

.col_w960 { 
	width: 960px; 
	margin-bottom: 60px; 
}

.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_w280 { width: 280px }
.col_w200 { width: 200px }

.col_allw300 { 
	float: left; 
	width: 300px; 
	margin-right: 30px; 
}

.col_last { 
	margin: 0; 
}

.content_box { 
	margin-bottom: 30px; 
	padding-bottom: 30px; 
	border-bottom: 1px dotted #666; 
}



#tooplate_footer_wrapper {
	width: 100%;
	background: url(../images/tooplate_footer.jpg) no-repeat bottom center;
}

#tooplate_footer {
	width: 960px;
	height: 80px;
	text-align: center;
	padding: 100px 0 0 0;
	margin: 0 auto;
	background: url(../images/tooplate_footer.jpg) no-repeat bottom center;
}

#tooplate_footer a { 
	color: #000; 
	text-decoration: none; 
}
